<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.santo_chope">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- <application
            android:name="android.support.multidex.MultiDexApplication">
    </application> -->
</manifest>
